<h1 id="jumbotron">House of Hair</h1>


<div class="row">
  <div class="col-md-6">
    <h2>Stylists</h2>
    <% if @stylists.any?() %>
      <p>Click on a stylist to see their list of clients</p>
    <ul>
      <% @stylists.each do |stylist| %>
      <li><a href="/stylists/<%=stylist.id()%>"><%= stylist.name() %></a></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no stylists yet!</p>
    <% end %>

    <h2>Add a New Stylist</h2>

    <form action="/stylists" method="post">
      <label for="stylist_name">Assign a name to your stylist:</label>
      <input type="text" name="stylist_name" id="stylist_name" required>

      <button class="btn btn-success" type="submit">Add Stylist</button>
    </form>

    <h2>Update stylists</h2>

    <form action="/stylist" method="post">
      <input type="hidden" name="_method" value="delete">
      <label for="stylist_id">Select a Stylist</label>
      <select id='stylist_id' name='stylist_id' type='text' required>
        <% @stylists.each() do |stylist| %>
          <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
        <% end %>
      </select>
      <button class="btn btn-success" type="submit" name="button">Delete Stylist</button>
    </form>

    <h2>Remove clients</h2>

    <form action="/client" method="post">
      <input type="hidden" name="_method" value="delete">
      <label for="remove_client_id">Select a Client</label>
      <select id='remove_client_id' name='remove_client_id' type='text' required>
        <% @clients.each() do |client| %>
          <option value="<%= client.id()%>"> <%= client.name() %> </option>
        <% end %>
      </select>
      <button class="btn btn-success" type="submit" name="button">Delete Client</button>
    </form>

    <h2>Rename clients</h2>

    <form action="/client" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="rename_client_id">Select a Client</label>
      <select id='rename_client_id' name='rename_client_id' type='text' required>
        <% @clients.each() do |client| %>
          <option value="<%= client.id()%>"> <%= client.name() %> </option>
        <% end %>
      </select>
      <label for="new_client_name">New Name</label>
      <input type="text" id="new_client_name" name="new_client_name" value="">
      <button class="btn btn-success" type="submit" name="button">Rename Client</button>
    </form>
  </div>
</div>
