<h1><%= @stylist.name() %></h1>

<% if @stylist.clients().any?() %>
  <h3>Here are all the clients of this stylist:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><%= client.name() %> </li>
<% end %>
  </ul>

  <% else %>
    <p>There are no clients for this stylist!</p>
  <% end %>


<h3>Add a client to <em><%= @stylist.name() %></em> </h3>

<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="name">Name of the client:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add client</button>
</form>

<h2>Remove clients</h2>

<form action="/client" method="post">
  <input type="hidden" name="_method" value="delete">
  <label for="client_id">Select a Client</label>
  <select id='client_id' name='client_id' type='text' required>
    <% @clients.each() do |client| %>
      <option value="<%= client.id()%>"> <%= client.name() %> </option>
    <% end %>
  </select>
  <button class="btn btn-success" type="submit" name="button">Delete Client</button>
</form>

<h1>Update the <%=@stylist.name() %> stylist </h1>

<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="new_name">Rename your stylist:</label>
  <input id="new_name" name="new_name" type="text">

  <button type="submit">Update</button>
</form>

<hr>

<div class="container">
  <a href="/">Home</a>
</div>
